{% extends 'layout.html' %}

{% block content %}

<div class="pageholder">

  <div class="row">
      <div class="col-md-12">
          <div class="card border border-primary bg bg-light">
              <div class="card-header" style="background-color: #002D62">
                  <h1 class="text-white" style="text-align:center;color:white">FACE RECOGNITION</h1>
              </div>
              <div class="card-body" style="padding:40px">
                <div class="row" style="margin: 20px">
                    <button
                    style="margin-bottom:20px"
                    onclick="window.location.href='create-employee'"
                    class="btn btn-primary"
                    >
                    New Employee
                    </button>
                
                  <button
                  onclick="window.location.href='employee-list'"
                  class="btn btn-primary"
                  >
                  All employees
                  </button>
              </div>
                <div
                id="result"
                style="position: flex;border:1px solid #002D62; border-radius:20px"
                width="650" height="500"
                >
                
                <video style="position:flex" id="video" width="640" height="480"></video>
                <canvas style="position:flex" id="canvas" width="640" height="480"></canvas>
                </div>
                    
                    <script>
                      var video = document.querySelector("#video");
                      var canvas = document.querySelector("#canvas");
                      var ctx = canvas.getContext("2d");
                
                      navigator.mediaDevices.getUserMedia({ video: true })
                        .then(function (stream) {
                          video.srcObject = stream;
                          video.play();
                        })
                        .catch(function (err) {
                          console.log("An error occurred: " + err);
                        });
                    
                      function capture() 
                      {
                        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                        var dataURL = canvas.toDataURL("image/png");
                        var csrftoken = getCookie('csrftoken');
                        console.log(dataURL);
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/test', true);
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        xhr.onreadystatechange = function() 
                        {
                          if (xhr.readyState === 4 && xhr.status === 200)
                          {
                            console.log(xhr.responseText);
                          }
                        };
                        xhr.send('image=' + encodeURIComponent(dataURL));
                        xhr.onreadystatechange = function() {
                          if (xhr.readyState === 4 && xhr.status === 200) {
                              var result = xhr.responseText;
                              var div = document.getElementById("result");
                              div.innerHTML = result;
                          }
                      };
                      }
                      function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                          var cookies = document.cookie.split(';');
                          for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                            }
                          }
                        }
                        return cookieValue;
                      }
                
                    </script>
                    <div class="row" style="margin:40px">
                      <button onclick="capture()" class="btn btn-primary">Capture</button>
                    </div>
                       

              </div>
          </div>
      </div>
  </div>
</div>



{% endblock %}